.Switch {
  display: flex;
  align-items: center;
  user-select: none;
}

.Switch-option {
  font-size: 1.5vmin;
  color: gray;
}

.Switch-option:first-of-type {
  margin-right: 10px;
}

.Switch-option:last-of-type {
  margin-left: 10px;
}

.Switch-box {
  width: 42px;
  height: 22px;
  outline: 1px solid grey;
  position: relative;
  cursor: pointer;
}

.Switch-mark {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  margin: 1px;
}

.Switch-mark.left {
  background-color: tomato;
}

.Switch-mark.right {
  background-color: tomato;
}