.post {
  padding: 20px 0;
  position: relative;
}

.divider:last-of-type {
  display: none;
}

.post.read {
  opacity: .25;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  color: tomato;
  text-transform: capitalize;
  flex-grow: 1;
  margin: 0;
}

.author {
  margin: 0;
  font-style: italic;
}

.excerpt {
  color: gray;
}

.excerpt::first-letter {
  text-transform: uppercase;
  font-size: 2vmin;
  font-weight: 700;
}

.divider {
  width: 30%;
  border-bottom: 1px solid tomato;
  position: relative;
  margin: 0 auto;
}

.switch {
  margin-left: auto;
}

/* TODO:: build a switch theme */
.switch .mark.left {
  background-color: gray;
}