/* TODO: Implementing these simple CSS rules would be a lot of pain */

.Post-divider:last-of-type {
  display: none;
}

.Post-excerpt::first-letter {
  text-transform: uppercase;
  font-size: 2vmin;
  font-weight: 700;
}

.Post-switch .Switch-mark.left {
  background-color: gray;
}